<div class="container">    
<div class="header">
    <a href="#" class="logo">Profile</a>    
  </div>
<div class="row px-2" style="margin-top: 5px;">
    
    <div class="col-lg-11 col-md-10 order-md-1 order-2">
        <div class="row">
    <div class="col-md-4">
      <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
        <mat-label>First Name</mat-label>
        <input matInput value="sub" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Last Name</mat-label>
          <input matInput value="admin" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Gender</mat-label>
          <input matInput disabled value="Male">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Qualification</mat-label>
          <input matInput value="M.Tech" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Marital Status</mat-label>
          <input matInput value="Married" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Address</mat-label>
          <input type="address" matInput value="Hydrabad" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Postal code</mat-label>
          <input type="postalcode" matInput maxlength=6 value="523424" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" style="width: 100%" appearance="legacy">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="5555-555-5555" maxlength=10 value="+919848012345" disabled>
        </mat-form-field>
      </div>
      </div>
      
    </div>
    <div class="col-lg-1 col-md-2 pl-0 order-md-1">
        <div class="pb-3 px-0">       
             <img height="80" width="80" src="/assets/images/pic.jpg" />
        </div>

    </div>
</div>
</div>    
   